<div class="card card-block">
	<div class="card-body">

		<h4 class="card-title">Register</h4>

		<form [formGroup]="rForm" (ngSubmit)="onSubmit(rForm.value)">
			<div class="form-group">
				<label for="formGroupExampleInput">Login</label>
				<input type="text"
					class="form-control"
					placeholder="Login"
					required
					formControlName="email"
					name="login">
			</div>
			<div class="form-group">
				<label for="formGroupExampleInput">Password</label>
				<input type="password"
					class="form-control"
					placeholder="Password"
					required
					formControlName="password"
					name="password">
			</div>
			<div class="form-group">
				<label for="formGroupExampleInput">Password Confirmation</label>
				<input type="password"
					class="form-control"
					placeholder="Password Confirmation"
					required
					formControlName="password_confirmation"
					name="passwordConfirmation">
			</div>
			<button
				type="submit"
				class="btn btn-primary" [disabled]="!rForm.valid">Register</button>
		</form>
	</div>
</div>