<div class="jumbotron text-center">
    <h1>Cadastro de produtos</h1>
    <p class="lead"> </p>
    <div>
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-dark ml-2" [routerLink]="['/sign-in']">Login</a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4">
      <h3>Rails Backend</h3>
      <p>A web-application framework that includes everything needed to create database-backed web applications according to the Model-View-Controller (MVC)</p>
    </div>
    <div class="col-md-4">
      <h3>Angular-CLI</h3>
      <p>Angular-CLI to generate components, services and more. Local dev server and easy compilation</p>
    </div>
    <div class="col-md-4">
      <h3>Angular-Token</h3>
      <p>Token based authentication service for Angular with support for Http Interceptors and multiple user. Angular-Token works best with the devise token auth gem for Rails.</p>
    </div>
  </div>